#############################################################################
#                                                                           #
# $Id. Yongjian Xu <i3dmaster@gmail.com> 2006.08.07                         #
#                                                                           #
# ** Only static IP info should be configured here. **                      #
#                                                                           #
# ** If no cable is plugged into your eth card, scan_network                #
#    will simply ignore that interface. **                                  #
#                                                                           #
# ** If eth card(s) is/are connected:                                       #
#    1. DHCP is assumed by scan_network                                     #
#       when there is no configured info found in this file.                #
#       OR the eth card static IP info isn't found in this file.            #
#    2. If static IP configuration info is found for an eth card,           #
#       A dialog box will be display during boot time to ask                #
#       which network profile does the user want to use.                    #
#       Typical choices will include DHCP and all network profiles          #
#       found for this eth card in this file.                               #
#                                                                           #
# Description:                                                              #
# This is the file maintaining your eth nic static ip configuration.        #
# You should always leave /etc/network/interfaces file untouched.           #
# Instead of writing static ip info to interfaces file, you write           #
# to this file. When system boots up, scan_network will check this          #
# file to see if there is a static IP configuration for your eth card       #
# If there is, scan_network will populate it to interfaces file             #
# according to your choice.                                                 #
#                                                                           #
# The benefit of doing this is when you are in a different network env      #
# scan_network will determine if your eth is active or not before           #
# it populates the ip info to interfaces file to reduce unnecessary         #
# waiting time in the old way.                                              #
#                                                                           #
# ** You need to specify a profile name for each configuration.             #
# ** scan_network will use it to ask you which one you want to use.         #
# ** If you don't specify the profile name, scan_network                    #
# ** will NOT work.                                                         #
# ** Profile name format: '|somename:' <|><pick-a-name><colon>              #
# ** Profile name is case insensitive.                                      #
#                                                                           #
#############################################################################
#
# Sample: 
#
#|Home: iface eth0 inet static
#       address xxx.xxx.xxx.xxx
#       netmask xxx.xxx.xxx.xxx
#       network xxx.xxx.xxx.xxx
#       broadcast xxx.xxx.xxx.xxx
#       gateway xxx.xxx.xxx.xxx
#|Office: iface eth0 inet static
#       address xxx.xxx.xxx.xxx
#       netmask xxx.xxx.xxx.xxx
#       network xxx.xxx.xxx.xxx
#       broadcast xxx.xxx.xxx.xxx
#       gateway xxx.xxx.xxx.xxx
#|Home: iface eth1 inet static
#       address xxx.xxx.xxx.xxx
#       netmask xxx.xxx.xxx.xxx
#       network xxx.xxx.xxx.xxx
#       broadcast xxx.xxx.xxx.xxx
#       gateway xxx.xxx.xxx.xxx
#|OFFICE: iface eth1 inet static
#       address xxx.xxx.xxx.xxx
#       netmask xxx.xxx.xxx.xxx
#       network xxx.xxx.xxx.xxx
#       broadcast xxx.xxx.xxx.xxx
#       gateway xxx.xxx.xxx.xxx
#|Someplace: iface eth0 inet static
#       address xxx.xxx.xxx.xxx
#       netmask xxx.xxx.xxx.xxx
#       network xxx.xxx.xxx.xxx
#       broadcast xxx.xxx.xxx.xxx
#       gateway xxx.xxx.xxx.xxx
#
